.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #111;
  min-height: 100vh;
  min-width: 192vh;
  color: white;
}

.grid {
  display: grid;
  grid-template-columns: repeat(20, 20px);
  grid-template-rows: repeat(20, 20px);
  gap: 2px;
}

.cell {
  width: 20px;
  height: 20px;
  cursor: pointer;
  border-radius: 3px;
}

.cell.path {
  background-color: white;
}

.cell.wall {
  background-color: rgb(63, 63, 63);
}

.cell.start {
  background-color: green;
}

.cell.end {
  background-color: red;
}

button {
  margin: 0 5px;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
